*
!Dockerfile
!docker-entrypoint.sh
!release/
!release/vohive-dji-amd64
!Dockerfile.vohivex
!app/
!app/driver.sh
!app/driver-lib.sh
!app/single-start.sh

!app/scheduler/
!app/scheduler/engine.py
!app/scheduler/server.py
!app/scheduler/managed_proxy.py
!app/scheduler/egress_ip.py
!app/proxy/
!app/proxy/THIRD-PARTY.md
!app/proxy/vendor/
!app/proxy/vendor/mihomo-linux-amd64-compatible
!app/proxy/vendor/LICENSE.mihomo
!app/scheduler/assets/
!app/scheduler/assets/**
!app/proxy/vendor/LICENSE.jsQR

!app/scheduler/account.py
!app/scheduler/notifications.py
!app/scheduler/delivery.py
